# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.ilk
*.idb
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.log
*.tlog

/build
/ThirdParty
/proto_file/output_cpp
/proto_file/output_cs
/proto_file/output_go